
<!-- Barra de Menu Superior y Primera Sección-->
<div class="container-fluid sticky-top fontsec"> 
  <nav class="navbar navbar-expand-lg navbar-dark bg bg-dark bg-opacity-50 p-2">

      <audio controls loop style="height: 50px; width: 180px;" class="ms-1">
          <source src="assets/Solo_Rock.mp3" type="audio/mpeg">
      </audio>
    
      <button type="button" class="navbar-toggler ms-auto me-1" 
      data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
      >
          <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarCollapse">
          <div class="navbar-nav ms-auto mt-2">
              
              <a href="https://wa.me/+393487730185" class="nav-item nav-link" target="_blank">
                <img src="assets/whatsapp.png" class="i25x25 me-1" alt="...">
                <i style="font-size: 0.75rem;">... para Pizzi</i>
              </a>
          
          </div>
      </div>
  </nav>
  <div class="text-white-50" >
  <i>Dale play si queres escuchar un buen rocanrrol ... y pausalo para escuchar otras cosas</i>
  </div>
</div>

  <div class="container py-2 text-center" id="">

      <!-- primera fila -->
      <div class="row g-5 justify-content-center">
          <!-- primera componente -->
          <div class="col-lg-6">               
              <div class="container-fluid card bg-opacity-10 bg bg-dark">
                  <img class="img-fluid rounded mt-2 mb-2 border border-secondary" src="assets/ojoenchivilcoy.jpg">
                  <div  class="mb-2">
                      <audio controls>
                          <source src="assets/Solo_Rock.mp3" type="audio/mpeg">
                      </audio>
                  </div>
              </div>
              <div>
                  <i class="text-white fontsec">texto a completar</i>
              </div>

              <a class="btn btn-outline-primary rounded-pill m-3 fontsec" href="..." target="_blank">
              <i class="fab fa-youtube"></i> 
              ... escuchalas en Youtube
              </a>
          </div>

          <!-- segunda componente -->
          <div class="col-lg-6">

              <div class="container card bg-opacity-10 bg bg-danger">

                  <video width="270" height="480" controls class="autocenter mt-2 mb-2 border border-danger rounded">
                      <source src="assets/silvia.mp4" type="video/mp4">
                      <p>Tu navegador no admite la etiqueta de video.</p>
                    </video>
                  <!--
                  <video src="assets/silvia.mp4" class="object-fit-contain control" style="height:350px;"></video>
                  <img class="img-fluid rounded mt-2 mb-2 border border-secondary" src="assets/solorock.jpg">
                  -->

              </div>
              
              <div>
                  <i class="text-white fontsec">texto a completar</i>
              </div>

              <a class="btn btn-outline-primary rounded-pill m-3 fontsec" href="..." target="_blank">
              <i class="fab fa-youtube"></i> 
              ... escuchalas en Youtube
              </a>
          </div>
      </div>



  </div>

